/*$grid-float-breakpoint:              	0px;*/

@import "compass";
@import "sass-bootstrap/lib/bootstrap";

button{
	line-height: normal;
}

.jumbotron .btn{
	white-space: inherit;
	padding: 8px 16px;
}

.alert-dismissable .close {
	color: black;
	top: auto;
}