@import "base";
@import "loading";

html, body { 
	padding: 0px; 
	height: 100%;
}

body {
	background: url("../images/festival2.jpg") no-repeat center fixed;
	@include background-size(cover);
}

h2{
	margin-top: 0px;
}

h2, .bold {
	font-family: 'Proxima Nova Bold', 'Helvetica Neue';
}


#mfPreviewBar{
	display: none;
}

.navbar-brand{
	font-family: 'Lobster', cursive;
	font-size: 22px;
}

.btn.wide {
	width: 100%;
}


/** Nav bat button and login **/
.navbar-toggle{
	padding: 7px 10px;
	margin-top: 9px;
	margin-bottom: 9px;
	color: #777777;

	&#menu{
		padding: 4px 8px 0px;
		border: 0px;
	}

	.name{
		display: none;
	}
}

.avatar{
	img{ 
		margin-left: 3px;
		position: relative;
		top: -2px;
		@include border-radius(3px, 3px);
	}
}

.navbar-right .avatar{
	display: none;
}

/** end of nav styling **/


/** Panel and holder styling **/

.panel-holder{
	background:	transparent;
	padding: 50px 0px 0px;
	border: 0px;
	margin-bottom: 0px;
	font-family: 'Proxima Nova Light', 'Helvetica Neue';

	#panel-carousel{
		.panel-wrapper{
			.content-wrapper{
				padding: 30px 15px 0px;
				overflow: auto;		
			}
		}
	}
}

.panel-holder, #panel-carousel, .panel-wrapper, .content-wrapper{
	height: inherit;
}

.panel{
	background-color: rgba(255,255,255,0.5);
	padding: 0px;
	@include border-radius(3px, 3px);
	margin-bottom: 15px;

	.title{
		padding: 13px 13px 10px;
		background-color: rgba(255,255,255,0.6);
		border-bottom: 1px solid rgba(0,0,0,0.1);

		h2{
			font-size: 16px;
			color: #428bca;
			margin: 0px;
		}
	}

	.content{
		margin: 15px;
	}

	&.last{
		margin-bottom: 30px;
	}
}

/** end of Panel styling **/


/** Welcome page **/
#welcome{
	.festival-logo{
		content: url("../images/sziget.png");
		max-height: 80px;
		margin: 0 auto;
	}

	.navbar-brand{
		width: 100%;
		padding-top: 0px;
		margin-top: 0px;
	}
}

#welcome, #lineup, #new, #friends, #not-exist{
	.content{
		h2{ 
			font-size: 26px;
			margin-top: inherit; 
		}
		p{ 
			font-size: 16px; 
			margin-bottom: 10px;
		}
	}
}

/** end of welcome page **/

/** Passport **/
.panel-name{
	margin-top: 0px;
	color: rgba(255,255,255,0.6);
}

#passport{
	.content{
		margin-left: 0px;
		margin-right: 0px;
		border-bottom: 1px solid rgba(0,0,0,0.2);

		&.last{
			border-bottom: none;	
			
			.passport-item{
				padding-bottom: 0px;
			}
		}

		.passport-item{
			line-height: 1.2;
			margin: 0px 15px 15px;
			position: relative;

			.left{
				float:left;
				max-width: 80%;
				text-align: left;

				.band-name{
					font-size: 24px;
					line-height: 1.2;
				}

				.concert-missing{
					font-size: 16px;
				}
			}

			.right{
				float:right;
				max-width: 20%;
				text-align: right;
				font-size: 14px;
				padding-top: 2px;
			}

			.concert-status{
				content: url("../images/sziget.png");
				@include rotate(-15deg);				
				position: absolute;
				top: 0px;
				right: 15%;
				width: 50px;
				z-index: -1;

				&.unseen{
					display: none;
				}
			}
		}

		> .close{
			position: relative;
			top: -15px;
			padding: 3px;
		}
	}
}
/** End of Passport **/


/** Home screen **/
#watching{
	.description{
		font-size: 16px;
		line-height: 1.5;
	}

	.btn.checkin{
		margin-top: 10px;
	}
}

#playing{
	.content{
		margin-left: 0px;
		margin-right: 0px;
		border-bottom: 1px solid rgba(0,0,0,0.2);

		.concert{
			font-size: 16px;
			padding-bottom: 15px;
			margin-left: 15px;
			margin-right: 15px;
			line-height: 1.2;

			.left, .right { display: inline-block; }

			.left { padding-right: 5px }
			.right { padding-left: 5px }

			.fa{
				padding-right: 5px;
			}
		}

		.band-name{
			font-size: 24px;
			line-height: 1.5;		
			margin-left: 15px;
			margin-right: 15px;
		}

		&.last{
			border-bottom: none;	
			
			.concert{
				padding-bottom: 0px;
			}
		}
	}
}

#next-concert{
	p{ 
		margin-bottom: 10px;
	}
}
/** end of home Screen **/

/** Lineup **/
#lineup {
	.fa-bookmark{
		padding-left: 5px;
	}
}

/** End of Lineup **/


/** Notification **/
#notification{
	display: none;
	position: absolute;
	top: 50px;
	@include border-radius(0px, 0px);
	z-index: 1;
	padding: 5px 35px 5px 15px;
	width: 100%;
	@include background-image(linear-gradient(#285e8e, #428bca 30%, #428bca));
  @include single-box-shadow;
  border-color: #285e8e;

	span{
		font-size: 12px;
		color: white;
	}
}

/** End of notification **/


/** Loading screen **/
.loading{
	display: table;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	color: white;

	.content{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
}
/** end of loading **/

/** owl theme **/
.owl-theme{
	.owl-wrapper-outer, .owl-wrapper, .owl-item{
		height: inherit;
	}
}

/** end of owl **/


@media (min-width: $screen-sm-min) {
	.navbar-right .avatar{
		display: inherit;
		color: #777777;
		line-height: 50px;
	}

	#welcome {
  	.festival-logo { max-height: 200px; }
  	p { font-size: inherit; }
  }
}

@media (min-width: "330px") {
	.navbar-toggle#menu .name{
		display: inline;
	}
}