@import "base";

html, body { 
	padding: 0px; 
	height: 100%;
}

body {
	background: url("../images/festival.jpg") no-repeat center fixed;
	@include background-size(cover);
}


h2, .bold {
	font-family: 'Proxima Nova Bold', 'Helvetica Neue';
}


#mfPreviewBar{
	display: none;
}

.navbar-brand{
	font-family: 'Lobster', cursive;
	font-size: 22px;
}


/** Nav bat button and login **/
.navbar-toggle{
	&#menu{
		padding: 6px 10px 2px;
		border: 0px;
	}
	color: #777777;
}

.avatar{
	img{ 
		margin-left: 3px;
		position: relative;
		top: -2px;
	}
}

.navbar-right .avatar{
	display: none;
}

@media (min-width: $screen-md-min) {
	.navbar-right .avatar{
		display: inherit;
		color: #777777;
		line-height: 50px;
	}
}
/** end of nav styling **/


/** Panel and holder styling **/

.panel-holder{
	background:	transparent;
	padding: 80px 0px 0px;
	min-height: 100%;
	border: 0px;
	margin-bottom: 0px;
	font-family: 'Proxima Nova Light', 'Helvetica Neue';

	#panel-carousel{
		height: inherit;

		.panel-wrapper{
			min-height: 100%;
			padding: 10px 40px 0px;			
		}
	}
}

.panel{
	background-color: rgba(255,255,255,0.6);
	padding: 20px;
}

/** end of Panel styling **/


/** Welcome page **/

#welcome{
	.festival-logo{
		content: url("../images/sziget.png");
		max-height: 80px;
		margin: 0 auto;
	}

	.navbar-brand{
		width: 100%;
		padding-top: 0px;
		margin-top: 0px;
	}

	h2{ font-size: 30px; }
	p{ font-size: 17px; }
}

@media (min-width: $screen-md-min) {
  #welcome {
  	.festival-logo { max-height: 200px; }
  	p { font-size: inherit; }
  }
}

/** end of welcome page **/

/** Passport **/
.panel-name{
	margin-top: 0px;
	color: rgba(255,255,255,0.6);
}

.passport-item{
	line-height: 1.2;
	border-bottom: 1px solid rgba(0,0,0,0.3);
	padding: 20px 0px;

	&.last{
		border-bottom: none;
	}

	.left{
		float:left;
		width: 70%;
		text-align: left;

		.band-name{
			font-size: 24px;
			line-height: 1;
		}

		.concert-missing{
			font-size: 16px;
		}
	}

	.right{
		float:right;
		width: 30%;
		text-align: right;
		font-size: 18px;
	}

	.concert-status{
		content: url("../images/sziget.png");
		@include rotate(-15deg);
		position: absolute;
		right: 105px;
		width: 60px;

		&.unseen{
			display: none;
		}
	}
}
/** End of Passport **/


/** Home screen **/
.btn.wide {
	width: 80%;
}

.panel{
	.panel-desc{
		font-size: 18px;
	}
}

#watching{
	.description{
		font-size: 18px;
		line-height: 1.8;
	}

	.btn.checkin{
		margin-top: 10px;
	}
}

#playing{
	.concert{
		font-size: 18px;
		border-bottom: 1px solid rgba(0,0,0,0.3);
		padding-bottom: 10px;

		&.last{
			border-bottom: none;
			padding-bottom: 0px;
		}

		.left { float:left}
		.right { float:right}

		.fa{
			padding-right: 5px;
		}
	}

	.band-name{
		font-size: 24px;
	}
}
/** end of home Screen **/

.fa-bookmark{
	padding-left: 5px;
}